body {
    font-family: 'Poppins';
}

.intro img {
    height: 320px;
    width: 400px;
    border-radius: 130%;
    margin-top: 90px;
    margin-right: 240px;
}

.intro {
    display: flex;
    flex-direction: row-reverse;
}

.intro a {
    margin-right: 300px;
    margin-top: 200px;
    font-family: Monaco;
    font-size: 4vw;
    padding-bottom: 1px;
}

.intro span {
    font-size: 1.2vw;
    font-family: Times New Roman;
    display: block;
}

@media(max-width : 412px) {
    #nav {
        margin-left: 5px;
    }

    #nav a {
        font-size: 5vw;
    }

    .intro {
        flex-direction: column-reverse;
    }

    .intro img {
        width: 350px;
        margin-left: 20px;
    }

    .intro a {
        width: 70%;
        font-size: 10vw;
        margin-left: 70px;
        margin-top: 100px;
    }

    .intro span {
        font-size: 3.8vw;
    }
}

.about {
    border-style: hidden;
    height: 400px;
    width: 600px;
    margin-left: 40px;
    margin-top: 250px;
}

.about h4 {
    text-align: center;
    font-size: 2.5vw;
    font-family: Monaco;
}

.abt1 h1 {
    text-align: center;
    margin-top: -75px;
    margin-right: 100px;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.1);
}

.abt2 h4 {
    text-align: justify;
    margin-left: 50px;
    margin-top: 30px;
    /* font-family: Georgia; */
    font-family: sans-serif;
    font-size: 1.4vw;
    font-weight: bold;
    margin-left: 160px;

}

.abt3 {
    border-color: blueviolet;
    border-style: hidden;
    height: 200px;
    width: 650px;
    margin-left: 35px;
}

.abt3 p {
    margin-top: 10px;
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.1vw;
    margin-left: 130px;
}

.social {
    border-color: blueviolet;
    border-style: hidden;
    height: 70px;
    width: 500px;
    margin-top: 60px;
    margin-left: 120px;
}

.social a {
    font-size: 2rem;
    word-spacing: 10px;
    margin-right: 20px;
    margin-left: 10px;
}

.about2 {
    display: flex;
    border: 2px;
    height: 350px;
    width: 1450px;
    border-color: aquamarine;
    border-style: hidden;
}

@media(max-width: 412px) {
    .about {
        width: 300px;
    }

    .abt1 h1 {
        margin-top: -58px;
        margin-left: 4px;
        margin-right: 100px;
        font-size: 14.5vw;
    }

    .about h4 {
        font-size: 7.5vw
    }

    .about2 {
        width: 250px;
    }

    .abt2 h4 {
        margin-left: 13px;
        font-size: 4vw;
    }

    .abt3 {
        width: 300px;
    }

    .abt3 p {
        font-family: 'Poppins';
        width: 350px;
        margin-left: 1px;
        padding-right: 20px;
        font-size: 4.7vw;
    }

    .social {
        width: 300px;
        margin-left: 8px;
        font-size: 0.7rem;
    }

}

.skills {
    border: 2px;
    border-color: brown;
    border-style: hidden;
    width: 660px;
}

.skills h4 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.7vw;
}

.skills1 {
    margin-bottom: -70px;
    margin-left: 40px;
    border: 2px;
    height: 400px;
    width: 650px;
    border-style: hidden;
    border-color: blue;
}

.skills1 h5 {
    margin-top: 40px;
    margin-left: 65px;
    font-family: sans-serif;
    font-weight: 570;
}

.skills1 h6 {

    margin-left: 65px;
    font-family: sans-serif;
    font-weight: 550;
}

.progress {
    width: 350px;
    margin-left: 65px;

}

.progress1 {
    width: 350px;

}

@media(max-width: 412px) {
    .skills1 {
        width: 500px;
    }

    .about2 {
        flex-direction: column;
    }

    .skills {
        width: 300px;
        margin-top: 200px;
    }

    .skills h4 {
        font-size: 7.5vw;
    }

    .skills h5 {
        width: 250px;
        font-size: 4.5vw;
        margin-top: 50px;
        margin-left: 1px;
        margin-right: 340px;
    }

    .skills h6 {
        margin-left: 1px;
        margin-right: 340px;
    }

    .progress,
    .progress1 {
        width: 200px;
        margin-top: 17px;
        margin-left: 1.5px;
        margin-right: 360px;
    }

}

.tech {
    border: 2px;
    height: 490px;
    width: 1050px;
    border-style: hidden;
    border-color: brown;
    margin-left: 90px;
    margin-right: 40px;
}

.tech h4 {
    text-align: justify;
    font-size: 2.5vw;
    font-family: sans-serif;
    margin-left: 113px;
}

.tech h1 {
    text-align: justify;
    margin-top: -75px;
    margin-left: 113px;
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.1);
    font-weight: bold;
}

.row1 {
    display: flex;
    margin-left: 100px;
    padding-top: 40px;

}

.row2 {
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
}

.row3 {
    display: flex;
    margin-left: 100px;
    padding-top: 30px;
}

.tech-icons {
    display: flex;
    margin-left: 40px;
    border-style: hidden;
    border-color: aqua;
    height: 70px;
    width: 190px;
}

.tech-icons:hover {
    background-color: rgba(155, 151, 151, 0.1);
}

.tech-img {
    height: 40px;

}

.tech-name {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.3vw;
    padding-left: 15px;
}

@media(max-width : 412px) {
    .tech {
        height: 800px;
        width: 240px;
        margin-top: 600px;
        margin-right: 200px;
        margin-left: 20px;
    }

    .tech h4 {
        color: rgb(0, 0, 0, 0);
    }

    .tech h1 {
        color: black;
        margin-left: 40px;
        font-size: 6.5vw;
    }

    .row1 {
        flex-direction: column;
        margin-left: 20px;

    }

    .row2 {
        flex-direction: column;
        margin-left: 20px;
    }

    .row3 {
        flex-direction: column;
        margin-left: 20px;
    }

    .tech-name {
        font-size: 3.5vw;
    }

    .tech-img {
        height: 65px;
        margin-left: 10px;
        padding-left: 10px;
    }

    .tech-icons {
        height: 100px;
        width: 200px;
    }

    #img-js {
        padding-left: 2px;
        margin-left: -12px;
        margin-right: 2px;
    }

    #name-js {
        width: 120px;
        margin-left: -25px;
    }

    #img-sql {
        margin-left: -10px;
    }

    #name-sql {
        margin-left: - 25px;
    }
}

.edu {
    height: 390px;
    width: 1050px;
    border: 2px;
    border-color: aqua;
    border-style: hidden;
    margin: 10px 90px;
}

.edu1 {
    text-align: justify;
    font-size: 3vw;
    font-family: sans-serif;
    margin-left: 113px;
    margin-right: 350px;
}

.edu2 h1 {
    text-align: justify;
    margin-top: -69px;
    margin-left: 113px;
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.1);
}

.edu .dg {
    text-align: justify;
    margin-top: 30px;
    margin-left: 113px;
}

.edu .clg {
    text-align: justify;
    margin-left: 113px;
}

.edu .yop,
.cgpa {
    text-align: justify;
    margin-left: 113px;
}

@media(max-width : 412px) {
    .edu {
        width: 400px;
        margin-top: 180px;
        margin-left: 10px;
        margin-right: 100px;
    }

    .edu1 {
        font-size: 12vw;
        font-style: 'Poppins';
        margin-left: 40px;
    }

    .edu2 h1 {
        color: rgb(0, 0, 0, 0);
    }

    .edu .dg {
        margin-top: 90px;
        font-size: 6vw;
        margin-left: 20px;
    }

    .edu .clg {
        font-size: 5vw;
        margin-top: 16px;
        margin-left: 20px;
    }

    .edu .yop,
    .cgpa {
        text-align: justify;
        margin-left: 16px;
        font-size: 5vw;
    }
}

.exp {
    height: 490px;
    width: 1050px;
    border: 2px;
    border-color: blueviolet;
    border-style: hidden;
    margin: 10px 90px;
}

.exp1 {
    text-align: justify;
    font-size: 2.8vw;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 6px;
    margin-left: 113px;
}

.exp2 h1 {
    text-align: justify;
    margin-top: -69px;
    margin-left: 113px;
    font-size: 5.5vw;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.1);
}

.exp .ps {
    text-align: justify;
    margin-top: 30px;
    margin-left: 113px;
    font-size: 1.5vw;
}

.exp .date,
.desc {
    text-align: justify;
    margin-left: 113px;
}

@media (max-width : 412px) {
    .exp {
        margin-top: 100px;
        width: 400px;
        margin-left: 15px;
    }

    .exp2 h1 {
        color: rgb(0, 0, 0, 0);
    }

    .exp1 {
        font-size: 12vw;
        margin-left: 25px;
    }

    .exp .ps {
        margin-top: 90px;
        font-size: 7vw;
        margin-left: 25px;
    }

    .exp .date,
    .desc {
        font-size: 5vw;
        margin-top: 20px;
        margin-left: 25px;
    }
}

.pro {
    height: 390px;
    width: 1050px;
    border: 2px;
    border-color: black;
    border-style: hidden;
    margin: 10px 90px;

}

.pro1 {
    text-align: justify;
    font-size: 3.5vw;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 113px;
    margin-right: 344px;
}

.pro2 h1 {
    text-align: justify;
    margin-top: -76px;
    margin-left: 110px;
    font-size: 5vw;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.1);
}

.pro .proname,
.prolink {
    margin-top: 30px;
    text-align: justify;
    margin-left: 113px;
}

.pro .desc {
    margin-top: 20px;
}

@media(max-width : 412px) {
    .pro {
        margin-top: 350px;
        height: 500px;
        width: 350px;
        margin-left: 20px;
    }

    .pro2 h1 {
        color: rgb(0, 0, 0, 0);
    }

    .pro1 {
        font-size: 12vw;
        margin-left: 20px;
    }

    .pro .proname,
    .prolink {
        margin-top: 90px;
        margin-left: 20px;
        font-size: 6vw;
    }
    .pro .desc{
        font-size: 5vw;
    }
}
.conn {
    height: 390px;
    width: 1050px;
    border: 2px;
    border-color: brown;
    border-style: hidden;
    margin: 10px 90px;

}

.conn1 {
    text-align: justify;
    font-size: 3vw;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 6px;
    margin-left: 113px;

}

.conn2 h1 {
    text-align: justify;
    margin-top: -69px;
    margin-left: 113px;
    font-size: 5.5vw;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 0, 0, 0.1);
}

.conn .ty {
    text-align: justify;
    margin-top: 30px;
    margin-left: 113px;
}

.arrow i {
    margin-left: 400px;
    height: 100px;
    width: 500px;
    font-size: 3rem;
}

.conn .social {
    margin-top: 35px;
    margin-left: 350px;
}

@media(max-width : 412px){
    .conn{
        margin-top: 100px;
        margin-left: 20px;
    }
    .conn2 h1{
        color: rgb(0, 0, 0, 0);
    }
    .conn1{
        font-size: 12vw;
        margin-left: 20px;
    }
    .conn .ty{
        margin-left: 20px;
        padding-top: 40px;
    }
    .arrow i{
        margin-left: 100px;
    }
    .conn .social{
        margin-left: 20px;
        
    }
}
