@media screen and (max-width : 368px) {
    html{
        width: 100vw;
    }
    .nav1 {
        width: 100vw;
    }

    .nav1 h6 {
        font-size: 1rem;
    }

    .intro0 {
        flex-direction: column;
    }
    .name0{
        width: 100vw;
    }
    .name0 h1 {
        font-size: 2.5rem;
        margin-top: 80px;
        margin-left: 30px;
        text-shadow: 1px -2px rgb(80, 179, 255);
    }

    .name0 h6 {
        font-size: 0.8rem;
        margin-left: 30px;
    }

    .img0 {
        flex-direction: column;
        height: 1000px;
        width: 100vw;
    }

    .image {
        margin-left: 30px;
        height: 300px;
        width: 300px;
        border-radius: 50%;

    }
    .animated{
        margin-top: 20px;
        margin-left: 30px;
    }
    .first{
        font-size: 1.1rem;
    }
    .sc1 {
        margin-left: -78px;
    }

    .sc1,
    .sc2,
    .sc3,
    .sc4,
    .sc5 {
        height: 35px;
        width: 40px;

    }

    .sc2 {
        margin-top: 50px;
        margin-left: -5px;
    }

    .sc3 {
        margin-top: 50px;
        margin-left: -5px;
    }

    .sc4 {
        margin-top: 50px;
        margin-left: -5px;
    }

    .sc5 {

        margin-top: -68px;
        margin-left: 160px;
    }

    .about0 {
        margin-top: 100px;
        flex-direction: column;
    }

    .abt0 {
        width: 100vw;
    }

    .abt0 h4 {
        padding-top: 35px;
        font-size: 1.2rem
    }

    .abt0 h2 {
        font-size: 3rem;
        margin-top: -48px;
        margin-left: 40px;
    }

    .abt0 h5 {
        font-size: 0.9rem;
        margin-left: 40px;
    }

    .abt0 p {
        font-size: 0.9rem;
        margin-left: 40px;
        margin-right: 10px;


    }

    .abt0 .p2 {
        font-size: 0.9rem;
        margin-top: 5px;
        margin-left: 40px;
        margin-right: 10px;
    }

    .abt0 .span1 {
        display: inline;
    }

    .socials {
        display: none;
    }

    .skills0 {
        width: 100vw;
        margin-top: 40px;
    }

    .skills0 h4 {
        font-weight: bolder;
        font-size: 1.5rem;
        color: rgb(22, 56, 83);
        margin-top: 15px;
    }

    .probar {
        width: 90vw;
    }
    .probar h4{
        font-size: 0.5rem;
    }

    .tech0 {
        height: 1650px;
        width: 100vw;
        background-repeat: repeat;
    }

    .tech01 {
        height: 1350px;
        width: 250px;
        margin-top: 250px;
        margin-left: 40px;
    }

    .tech01 .row1,
    .row2,
    .row3 {
        flex-direction: column;
    }

    .tech01 h4{
        font-size: 1rem;
    }
    .tech01 h2{
        color: rgb(0,0,0,.1);
        font-size: 2rem;
        margin-top: -35px;
        margin-left: 30px;
    }
    .tech01 .tech-icons{
        flex-direction: column;
        height: 50px;
        width: 60px;
        margin-top: 100px;
        align-items: center;
    }
    
    .tech-name{
        font-size: 1rem;
        font-weight: bold;
        margin-top: 20px;
    }
    .edu0{
        width: 100vw;
    }
    .edu0 h4{
        font-size: 1.5rem;
        margin-left: 40px;
    }
    .edu0 h2{
        font-size: 2.5rem;
        margin-top: -50px;
        margin-left: 28px;
    }
    .edu0 h5{
        font-size: 1rem;
        margin-left: 30px;
    }
    .edu0 p{
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .exp0 {
        height: 600px;
        width: 100vw;
    }
    .exp0 h4{
        font-size: 1.5rem;
        margin-left: 40px;
    }
    .exp0 h2{
        font-size: 3rem;
        margin-top: -50px;
        margin-left: 25px;
    }
    .exp0 h5{
        font-size: 1.1rem;
        margin-top: 70px;
        margin-left: 30px;
    }
    .exp0 p{
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .exp0 ul{
        font-size: 0.9rem;
        margin-left: 40px;
    }
    .pro0{
        width: 100vw;
    }
    .pro0 h4{
        font-size: 1.7rem;
        margin-left: 40px;
    }
    .pro0 h2{
        font-size: 3rem;
        margin-top: -49px;
        margin-left: 25px;
    }
    .pro0 h5{
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .pro0 a{
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .pro0 ul{
        font-size: 0.9rem;
        margin-left: 40px;
    }
    .conn0{
        width: 100vw;
    }
    .conn0 h4{
        font-size: 1.5rem;
        margin-left: 40px;
    }
    .conn0 h2{
        font-size: 3rem;
        margin-top: -50px;
        margin-left: 25px;
    }
    .conn0 h5{
        font-size: 1rem;
        margin-left: 30px;
    }
    .conn0 .arrow{
        margin-left: 60px;
    }
    .conn0 .socials2{
        font-size: 3rem;
        margin-left: 10px;
    }
    .conn0 , .scocials2 a{
    font-size: 1rem;
    word-spacing: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 20px;
    }
}
/* -------------------------------------------














*/
@media screen and (max-width : 768px){
    html{
        width: 100vw;
    }
    .nav1 {
        width: 100vw;
    }

    .nav1 h6 {
        font-size: 1.3rem;
    }

    .intro0 {
        flex-direction: column;
    }
    .name0{
        width: 100vw;
    }
    .name0 h1 {
        font-size: 3.5rem;
        margin-top: 80px;
        margin-left: 170px;
        text-shadow: 1px -2px rgb(80, 179, 255);
    }

    .name0 h6 {
        font-size: 1rem;
        margin-left: 170px;
    }

    .img0 {
        flex-direction: column;
        height: 1000px;
        width: 100vw;
    }

    .image {
        margin-left: 170px;
        height: 300px;
        width: 300px;
        border-radius: 50%;

    }
    .animated{
        margin-top: 20px;
        margin-left: 170px;
    }
    .first{
        font-size: 1.1rem;
    }
    .sc1 {
        margin-top: 20px;
        margin-left: -48px;
    }

    .sc1,
    .sc2,
    .sc3,
    .sc4,
    .sc5 {
        height: 55px;
        width: 60px;

    }

    .sc2 {
        margin-top: -55px;
        margin-left: 45px;
        display: block;
    }

    .sc3 {
        margin-top: -55px;
        margin-left: 135px;
        display: block;
    }

    .sc4 {
        margin-top: -55px;
        margin-left: 225px;
        display: block;
        
    }

    .sc5 {

        margin-top: -55px;
        margin-left: 310px;
        display: block;
    }

    .about0 {
        margin-top: 100px;
        flex-direction: column;
    }

    .abt0 {
        width: 100vw;
    }

    .abt0 h4 {
        padding-top: 35px;
        font-size: 1.5rem
    }

    .abt0 h2 {
        font-size: 3.5rem;
        margin-top: -58px;
        margin-left: 150px;
    }

    .abt0 h5 {
        font-size: 1rem;
        margin-left: 70px;
    }

    .abt0 p {
        font-size: 1rem;
        margin-left: 70px;
        margin-right: 10px;


    }

    .abt0 .p2 {
        font-size: 1rem;
        margin-top: 5px;
        margin-left: 70px;
        margin-right: 10px;
    }

    .abt0 .span1 {
        display: inline;
    }

    .socials {
        display: none;
    }

    .skills0 {
        width: 100vw;
        margin-top: 40px;
    }

    .skills0 h4 {
        font-weight: bolder;
        font-size: 1.5rem;
        color: rgb(22, 56, 83);
        margin-top: 15px;
    }

    .probar {
        width: 90vw;
    }
    .probar h4{
        font-size: 0.5rem;
    }

    .tech0 {
        height: 1650px;
        width: 100vw;
        background-repeat: repeat;
    }

    .tech01 {
        height: 1350px;
        width: 250px;
        margin-top: 250px;
        margin-left: 240px;
    }

    .tech01 .row1,
    .row2,
    .row3 {
        flex-direction: column;
    }

    .tech01 h4{
        font-size: 1rem;
    }
    .tech01 h2{
        color: rgb(0,0,0,.1);
        font-size: 2rem;
        margin-top: -35px;
        margin-left: 30px;
    }
    .tech01 .tech-icons{
        flex-direction: column;
        height: 50px;
        width: 60px;
        margin-top: 100px;
        align-items: center;
    }
    
    .tech-name{
        font-size: 1rem;
        font-weight: bold;
        margin-top: 20px;
    }
    .edu0{
        width: 100vw;
    }
    .edu0 h4{
        font-size: 1.5rem;
        margin-left: 40px;
    }
    .edu0 h2{
        font-size: 2.5rem;
        margin-top: -50px;
        margin-left: 28px;
    }
    .edu0 h5{
        font-size: 1rem;
        margin-left: 30px;
    }
    .edu0 p{
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .exp0 {
        height: 600px;
        width: 100vw;
    }
    .exp0 h4{
        font-size: 1.5rem;
        margin-left: 40px;
    }
    .exp0 h2{
        font-size: 3rem;
        margin-top: -50px;
        margin-left: 25px;
    }
    .exp0 h5{
        font-size: 1.1rem;
        margin-top: 70px;
        margin-left: 30px;
    }
    .exp0 p{
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .exp0 ul{
        font-size: 0.9rem;
        margin-left: 40px;
    }
    .pro0{
        width: 100vw;
    }
    .pro0 h4{
        font-size: 1.7rem;
        margin-left: 40px;
    }
    .pro0 h2{
        font-size: 3rem;
        margin-top: -49px;
        margin-left: 25px;
    }
    .pro0 h5{
        font-size: 1.1rem;
        margin-left: 30px;
    }
    .pro0 a{
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .pro0 ul{
        font-size: 0.9rem;
        margin-left: 40px;
    }
    .conn0{
        width: 100vw;
    }
    .conn0 h4{
        font-size: 1.5rem;
        margin-left: 40px;
    }
    .conn0 h2{
        font-size: 3rem;
        margin-top: -50px;
        margin-left: 25px;
    }
    .conn0 h5{
        font-size: 1rem;
        margin-left: 30px;
    }
    .conn0 .arrow{
        margin-left: 60px;
    }
    .conn0 .socials2{
        font-size: 3rem;
        margin-left: 10px;
    }
    .conn0 , .scocials2 a{
    font-size: 1rem;
    word-spacing: 10px;
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 20px;
    }
}